<!--<html>
    <body>
        <p> This is a test.</p>
        <button onclick="myFunction()">Click me</button>
    </body>
</html>
-->
<!DOCTYPE html>
<html lang="en">

<head>

  <title>DD's Finance</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
  <script src="javascripts/test.js"></script>
</head>

<body>

  <!--<script>
  function mar(){
    console.log("DEBUG");
    $("button").hide();
  }
$('button').click(function(){
  $(this).hide();
});

</script>-->

  <form action="/api/puppies" id="form1">
    <input type="text" name="name" class="form-control" placeholder="name">
    <input type="text" name="breed" class="form-control"placeholder="breed">
    <input type="text" name="age" class="form-control" placeholder="age">
    <input type="text" name="sex" class="form-control" placeholder="sex">
    <input type="submit" value="submit" class = 'btn btn-default'>
  </form>

  <div class="container">
    <h1>My First Bootstrap Page</h1>
    <p>This is some text.</p>
  </div>
  <button class="btn">Click me</button>
    <table id="table_id" class="table table-striped">
    <thead>
      <tr>
        <th>Stock Name</th>
        <th>Industry</th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
</body>

</html>