<!DOCTYPE html>
<html lang="en">

<head>
    <title>DD's Finance</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="javascripts/login.js"></script>
</head>

<body>
    <div class="container">
        <form class="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>

            <input type="text" name="userName" class="form-control" placeholder="UserName" required autofocus>

            <input type="password" name="password" class="form-control" placeholder="Password" required>
            <!--<div class="checkbox">
            <label>
            <input type="checkbox" value="remember-me"> Remember me
            </label>
            </div>-->
            <input class="btn btn-lg btn-primary btn-block" type="submit" />
        </form>

    </div>
    <!-- /container -->
</body>

</html>