<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sensex View</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="javascripts/sensexview.js"></script>
</head>


<body>
    <div class="jumbotron">
        <h6>Sensex Index</h6>
        <h1 id="sensex_index"></h1>
        <p id="sensex_diff" class="lead"></p>
        <p id="sensex_perc" class="lead"></p>
    </div>
    <!-- price table-->
    <table id="table_sensex" class="table table-striped">
        <thead>
            <tr>
                <!--day, open, high, low, close, volume, adj_close-->
                    <th>Day</th>
                    <th>Open</th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Close</th>
                    <th>Volume</th>
                    <th>Adj_Close</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</body>